<div class="jumbotron">
    <h2>C115972 - Ezequiel Zemolin</h2>
    <p class="lead">TEIA CAIXA - Desafio Palíndromo</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Se você estiver lendo isto, esta aplicação está online.</h3>
        <p style="font-family:Arial, Helvetica, sans-serif;color:navy;font-size:18px">Utilize método HTTP POST: http://[endpoint]/api/manipulacao-string</p>
    </div>
    <div class="col-md-6">
        <br /><br /><br />
        <table border="1">
            <tr><td><b>Corpo de Entrada (JSON):</b> {"texto":"string de entrada"}</td></tr>
            <tr><td><b>Corpo de Saída (JSON):</b> {"palindromo":true/false,"ocorrencias_caracteres":{"car1":qtde1,"car2":qtde2, ...}}</td></tr>
            <tr><td><b>Se Erro, o corpo de saída será (JSON):</b> {"mensagemErro":"mensagem","detalhe":"detalhamento"}</td></tr>
        </table>
    </div>
</div>
